@media (max-width: 1440px){
    .contato .texto-contato{
        margin-right: 19vw;
    }
}

@media (max-width: 1024px){
    .contato .texto-contato{
        margin-right: 15.5vw;
    }
}

@media (max-width: 740px){
    .secao-com-texto{
        padding-inline: 15px;
    }

    .secao-com-texto p{
        width: 100%;
    }
}

@media (max-width: 720px){
    .ladrilho{
        height: 1200px;
        grid: "grande grande" 50%
              "pequeno-grao pequeno" 25%
              "medio medio" 25%
              / 50% 50%;
    }

    .contato{
        background-image: none;
        background-color: #d3ae71;
        justify-content: center;
    }

    .contato .texto-contato{
        text-align: center;
        margin-right: unset;
    }

    .rodape{
        background-image: none;
        background-color: black;
        text-align: center;
        justify-content: center;
        gap: 122px;
    }

    .rodape ul{
        flex-basis: 100%;
        
    }

    .rodape ul li{
        display: block;
    }

    .rodape .conteudo-de-baixo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
    }
    
    .rodape .conteudo-de-baixo .copyright{
        flex: 0 1 100%;
        order: 1;
    }
}

@media (max-width: 500px){

    .cabecalho{
        text-align: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .cabecalho .logo{
        margin-top: 18px;
    }

    .cabecalho nav ul li{
        display: block;
        padding: 18px;
    }
    
    .painel h2{
        text-align: center;
        font-size: 3rem;
    }
}

@media (max-width: 473px){
    .secao-com-texto h2{
        font-size: 3rem;
    }
    .secao-com-texto.onde-estamos p{
        font-size: 2rem;
        width: 290px;
    }
}

@media (max-width: 360px){
    .ladrilho{
        height: 1500px;
        grid: "grande" 40%
              "pequeno-grao" 20%
              "pequeno" 20%
              "medio" 20%;
    }

    .contato .texto-contato p{
        font-size: 2.3rem;
    }
}