
/* ----- Cabeçalho ----- */

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; 
}

.cabecalho .logo h1{
    font-size: 0;
}

.cabecalho .logo{
    background: url(../images/logo.jpg) 
    center center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.cabecalho ul li{
    display: inline;   
}

.cabecalho ul li a{
    transition: .2s ease-in-out;
    padding: 16px;
    font-size: 16px;
    border-radius: 80px;
}

.cabecalho ul li a:hover{
    background-color: #8e5b5a;
    color: white;
}

.cabecalho ul li a:active{
    background-color: #5e3b3b;
}

/* ----- Painél ----- */

.painel{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/painel.jpg) center center;
    height: 600px;
}

.painel h2{
    color: white;
    font-size: 45px;
    font-weight: 400;
    padding-inline: 10px;
}

/* ----- Seção com texto ----- */

.secao-com-texto{
    padding: 153px;
    text-align: center;
}

.secao-com-texto img{
    width: 170px;
    height: 170px;
}

.secao-com-texto h2{
    font-size: 45px;
    font-weight: 600;
    margin-block: 35px;
}

.secao-com-texto p{
    display: inline-block;
    font-size: 18px;
    max-width: 700px;
}

.secao-com-texto.onde-estamos p{
    font-size: 28px;
    width: 450px;
}

.secao-com-texto.onde-estamos p spam{
    color: #817867;
}

/* ----- Ladrilho ----- */

.ladrilho {
    height: 600px;
    display: grid;
    grid: 
        "grande pequeno-grao pequeno" 50%
        "grande medio medio" 50%
        / 50% 25% 25%;
}

.ladrilho .grande{
    background: url(../images/4.jpg) 
    center center no-repeat;
    grid-area: grande;
}

.ladrilho .pequeno{
    background: url(../images/3.jpg) 
    center center no-repeat;
    grid-area: pequeno;
}

.ladrilho .pequeno.grao{
    background: url(../images/2.jpg) 
    center center no-repeat;
    grid-area: pequeno-grao;
}

.ladrilho .medio{
    background: url(../images/1.jpg) 
    center center no-repeat;
    grid-area: medio;
}

/* ----- Contato ----- */

.contato{
    background: url(../images/fundo-contato.jpg)  
    center center no-repeat;
    color: white;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.contato .texto-contato{
    display: flex;
    flex-direction: column;
    height: 210px;
    justify-content: space-between;
    margin-right: 20%;
}

.contato .texto-contato h2{
    font-size: 45px;
    font-weight: 600;
}

.contato .texto-contato p{
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
}

/* ----- Rodapé ----- */

.rodape{
    background: url(../images/fundo-rodape.jpg) 
    center center no-repeat;
    background-size: cover;
    padding: 35px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 25px;
}

.rodape .logo-rodape img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rodape ul li{
    display: inline;
    padding: 15px;
}

.rodape ul li a{
    color: white;
    font-size: 20px;
}

.rodape ul li a:hover{
    font-weight: bold;
}

.rodape .conteudo-de-baixo{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.rodape .copyright span{
    color: white;
}

.rodape .redes-sociais .facebook, 
.rodape .redes-sociais .instagram{
    width: 20px;
    height: 20px;
    margin-inline: 5px;
}

.rodape .redes-sociais .facebook:hover, 
.rodape .redes-sociais .instagram:hover{
    opacity: .5;
}